# cp .example.env .env

# SUPABASE SETUP
SUPABASE_URL='your <SUPABASE_URL>'
SUPABASE_PUBLIC_KEY='your <SUPABASE_PUBLIC_KEY>'
## Needed for service client operations (currently none)
SUPABASE_SECRET_KEY='your <SUPABASE_SECRET_KEY>'

# OpenRouter
OPENROUTER_API_KEY='your <OPENROUTER_API_KEY>'

## I recommend these models, as they are cheap and offer good reliability
CHAT_MODEL='deepseek/deepseek-v4-flash-0731'


# URL that playground is started on (without trailing "/")
# Used for cors setup in api
APP_FRONTEND_URL='<APP_FRONTEND_URL>'

# URL that engine worker is started on (without trailing "/")
WORKER_URL='<WORKER_URL>'